{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Users
        </div>

        <div class="card-body">

            <div class="controls">
                <a href="{{ path('users.create') }}" class="btn btn-success">Create User</a>
                <a href="{{ path('users') }}" class="btn btn-outline-secondary">Reset Search</a>
            </div>

            {{ form_start(form) }}
                <table class="table table-responsive-sm table-bordered">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(users, 'Date', 'created_at') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Name', 'name') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Email', 'email') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Role', 'role') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Status', 'status') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>{{ form_widget(form.name) }}</td>
                        <td>{{ form_widget(form.email) }}</td>
                        <td>{{ form_widget(form.role) }}</td>
                        <td>{{ form_widget(form.status) }}</td>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.created_at|date('Y-m-d') }}</td>
                            <td><a href="{{ path('users.show', {'id': user.id}) }}">{{ user.name }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user_role(user.role) }}</td>
                            <td>{{ user_status(user.status) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}