{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('auth.signup') }}">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('auth.reset') }}">Reset</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Log In</a>
    </li>
{% endif %}
