<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="centrifugo-url" content="{{ centrifugo_url }}">
    <meta name="centrifugo-user" content="{{ app.user.id }}">
    <meta name="centrifugo-token" content="{{ centrifugo_token() }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="c-app">
    {% include 'includes/sidebar/_sidebar.html.twig' %}
    <div class="c-wrapper c-fixed-components">
        {% include 'includes/header/_header.html.twig' with {breadcrumbs: block('breadcrumbs')} %}
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        {% include './includes/_flashes.html.twig' %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
            </footer>
        </div>
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
